.main {
  margin: 0 auto;
}

.poster {
  margin: 0 auto;
}

.about {
  margin: 30px auto;
  padding: 0 15px;
}

.masters {
  margin: 0 auto;
  padding: 0 15px;
}

.programm {
  margin: 30px auto;
  padding: 0 15px;
}

.price {
  margin: 0 auto;
  padding: 0 15px;
}